.rootCont {
  width: 80%;
  margin: auto;
  text-align: center;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 10vh;
  padding-bottom: 10vh;
  /* background-color: #F7FAFC; */
}
/* .rootCont h1 {
  color: #ff6225;
  width: 95px;
  margin: 0 auto;
}
.rootCont > p {
  font-size: 40px;
  font-weight: 400;
} */

.mainCont {
  display: grid;
  grid-template-columns: 25% 55%;
  gap: 10%;
  text-align: center;
  font-size: 30px;
}
.mainCont > div {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  text-align: left !important;
}
/* .mainCont > div > h2 {
  margin: 0px;
} */

.profilePic {
  text-align: right;
  width: 100%;
  margin: auto;
  /* border: 2px solid black; */
  /* background-color: rgb(194, 195, 201); */
  border-radius: 10px;
}
@media only screen and (max-width: 1024px) {
  .rootCont {
    width: 90%;
    /* margin-top: 200px;
    margin-bottom: 200px; */
  }
  .mainCont {
    display: flex;
    flex-direction: column;
  }
  .mainCont > div {
    text-align: center !important;
  }
  /* .profilePic {
    width: 60%;
  } */
}
