.git {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 200px;
  margin: auto;
}
@media only screen and (max-width: 1200px) {
  .git {
    margin-bottom: 200px;
  }
}
@media only screen and (max-width: 300px) {
  .git {
    margin-bottom: 200px;
  }
}
