.mainBox {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.myLogo:hover {
  animation: spin 2s linear infinite;
  cursor: pointer;
}

.nav {
  cursor: pointer;
  height: 45px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.nav:hover {
  border-bottom: 5px solid #ff6326;
}

/* Animation for smaller screen  */
@media only screen and (max-width: 768px) {
  .myLogo {
    animation: spin 2s linear infinite;
    cursor: pointer;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
