.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 120px;
  margin: 20px auto;
  padding-top: 20px;
  cursor: pointer;
  /* border: 1px solid; */
  color: #ff6225;
  /* margin-left: 100px; */
}
.card:hover{
  color:#383874;
  box-shadow: 1px 1px 17px 5px rgba(255,98,37,0.48);
-webkit-box-shadow: 1px 1px 17px 5px rgba(255,98,37,0.48);
-moz-box-shadow: 1px 1px 17px 5px rgba(255,98,37,0.48);
}